<!DOCTYPE html>
<html>

<head>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
</head>

<body>

<div ng-app="VenueApp" ng-controller="VenueController">

	<div ng-show="isInitialized()">
	
		<div ng-show="hasInitializationError()">
			Cannot search venues: {{ initializationError }}
		</div>
	
		<div ng-show="!hasInitializationError()">
			<p ng-show="hasLocation()">
				Your approximate location: {{ lat + ', ' + lng }}
				<span ng-show="hasAddress()">( Near {{ address }} )</span>
			</p>
			<p>
				Search Venue: <input ng-model="query" ng-change="search()" type="text" />
			</p>
			<p ng-show="hasSearchError()">
				Search Error: {{ searchError }}
			</p>
			<ul ng-show="!hasSearchError()">
			  <li ng-repeat="venue in venues | orderBy:'location.distance'">
				{{ venue.name + ', ' + venue.location.formattedAddress + ', ' + venue.location.distance + ' m' }}
			  </li>
			</ul>		
		</div>
		
	</div>

</div>

<script src="../app/app.js"></script>
<script src="../app/services/locationservice.js"></script>
<script src="../app/services/addressservice.js"></script>
<script src="../app/services/venueservice.js"></script>
<script src="../app/controllers/venuecontroller.js"></script>

</body>
</html>